*{

    font-family: "Goudy Bookletter 1911", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

section{
  padding: 50px 10px;
  
    
}

.onesec {
  background: url(img/xhome-banner.png)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 90px;

  
  
    
}


.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 80%;
    margin-left: 130px;
    padding: 20px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.263);  
    
}

.openBtn {
  float: right;
  background: #ffffff;
  font-family: system-ui;
  border: none;
  border-radius: 20px;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  margin-right: 170px;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 20px;
  width: 10%;
  cursor: pointer;
}

.openBtn:hover {
  background: rgb(218, 218, 218);
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay button:hover {
  background: #bbb;
}

.first{
  width: 10%;
  margin-left: 140px;
  float: left;
}

.first img{
  position: absolute;
  width: 4%;
}

.first h2{ 
  margin-left: 60px;
}

.first h2 a{
  text-decoration: none;
  font-family: system-ui;
  font-size: 30px;
  color: #000000;
}



.social-icons{
  float: right;
}

.social-icons a {
  font-size: 1.2em;
  padding-right: 30px;
}



.info .social-iconstwo{
  display: none;
}

.contact {
  float: left;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 50%;
    left: 20%;
    margin-top: 20.78px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content .header {
    background: rgb(255, 255, 255);
    padding: 16px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
 
.column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: white;
    height: 250px;
}
  
.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.column a:hover {
    background-color: #ddd;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

.info{
  margin-top: 10%;
  margin-left: 10%;
}

.infosp{
  background: #081158;
  width: 16%;
  border-radius: 10px;
  padding-bottom: 3px;
}

.infosp span{
  color: #FBB244;
  font-size: 15px;
  font-weight: bold;
  font-family: system-ui;
  margin-left: 16px;
  
}

.info p{
  color: #364d59;
  font-size: 20px;
  font-family: system-ui;
  margin-bottom: 5px;
}

.info h2{
  color: #081158;
  font-size: 40px;
  font-family: system-ui;
  margin-bottom: 25px;
}


.info h2 span{
  color: #081158;
  font-size: 40px;
}

.infobott{
  border: none;
  font-family: system-ui;
  background: linear-gradient(to right,#1345e6 0%,#ed239f 100%,#1345e6 100%);
  padding: 20px 50px;
  border-radius: 30px;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  margin-top: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.775);
}

.infobott:hover{
  background: linear-gradient(to left,#1345e6 0%,#ed239f 100%,#1345e6 100%);
}

.infobott a{
  color: rgba(255, 255, 255, 0.926);
  font-size: 17px;
  text-decoration: none;

}

.imglogo img{
  float: right;
  width: 30%;
  margin-right: 260px;
  margin-top: 20px;
  border-radius: 200px;
  
}

.sectwo{
  padding-bottom: 33%;
}

.vone{
  margin-left: 11%;
  margin-top: 8%;
  background: #fd4d40;
  width: 25%;
  padding: 70px 30px; 
  text-align: center;
  float: left;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgb(125, 125, 125);
  
}

.vtwo{
  margin-left: 2%;
  margin-top: 8%;
  background: #fdb62f;
  width: 25%;
  padding: 70px 30px; 
  text-align: center;
  float: left;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgb(125, 125, 125);
  
}

.vthree{
  margin-left: 2%;
  margin-top: 8%;
  background: #16c3b0;
  width: 25%;
  padding: 70px 30px; 
  text-align: center;
  float: left;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgb(125, 125, 125);
  
  
}

.vone h2{
  color: rgb(255, 255, 255);
  margin-top: 4px;
  margin-bottom: 4px;

}

.vtwo h2{
  color: rgb(255, 255, 255);
  margin-top: 4px;
  margin-bottom: 4px;

}

.vthree h2{
  color: rgb(255, 255, 255);
  margin-top: 4px;
  margin-bottom: 4px;

}

.vone p{
  color: rgba(255, 255, 255, 0.895);
  margin-top: 10px;
}

.vtwo p{
  color: rgba(255, 255, 255, 0.895);
  margin-top: 10px;
}

.vthree p{
  color: rgba(255, 255, 255, 0.895);
  margin-top: 10px;
}

.icoone{
  background: #fd4d40;
  padding: 10px 5px;
  width: 30%;
  height: 90px;
  border-radius: 60px;
  margin-left: 110px;
  margin-top: -100px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.icoonee{
  background: #fdb62f;
  padding: 10px 5px;
  width: 30%;
  height: 90px;
  border-radius: 60px;
  margin-left: 110px;
  margin-top: -100px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.icooneee{
  background: #16c3b0;
  padding: 10px 5px;
  width: 30%;
  height: 90px;
  border-radius: 60px;
  margin-left: 110px;
  margin-top: -100px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.secthree{
  padding-bottom: 8%;
  background: url(img/home-banner-bg.png)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.aboutimg{
  border-radius: 100px;
  margin-top: 7%;
  margin-left: 5%;
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.775);

}

.aboutus{
  float: right;
  width: 30%;
  margin-right: 200px;
  margin-top: 150px;
  
}

.aboutus p{
  color: #364d59;
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.aboutp{
  background: #081158;
  width: 25%;
  border-radius: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-top: 3px;

}

.aboutus span{
  color: #FBB244;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 7px;
}

.aboutus h2{
  color: rgb(255, 247, 232);
  margin-top: 5px;
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.aboutbott{
  border: none;
  font-family: system-ui;
  background: linear-gradient(to right,#1345e6 0%,#ed239f 100%,#1345e6 100%);
  padding: 15px 50px;
  border-radius: 30px;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  margin-top: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.775);

}

.aboutbott:hover {
  background: linear-gradient(to left,#1345e6 0%,#ed239f 100%,#1345e6 100%);
}


.aboutbott a{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.aboutbott a:hover{
  color: wheat;
}

#menu{
  display: none;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  user-select: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  
}

.closeebtn{
  display: none;
}

#menu span{
  position: fixed;
  display: block;
  width: 33px;
  height: 4px;
  background-color: var(--redcolor);
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
  font-size: 25px; 
}


.secfour{
  text-align: center;
  padding-bottom: 33%;
}

.secfour h2{
  margin-top: 100px;
  font-size: 35px;
  color: #081158;
}

.imgone{
  margin-left: 6.3%;
  margin-top: 10%;
  width: 25%;
  text-align: center;
  float: left;
  border-radius: 15px;
}

.imgone img{
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.775);
  transition: 0.7s ease;
}

.imgone img:hover{
  transform: scale(1.1);
}


.imgtext{
  background: #081158;
  padding: 10px 5px;
  width: 70%;
  border-radius: 50px;
  margin-left: 55px;
  margin-top: -60px;
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.775);
  
}

.imgtext h3{
  color: #FBB244;
}

.email{
  text-align: center;
  padding-bottom: 13%;
  background: url(img/niceimg.png)no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

.secfive h2{
  font-size: 50px;
  margin-top: 7%;
  color: #081158;

}

.secfive p{
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 70px;
  color: #080f48ac;
  

}


.secfive input[type=text]{
  border: none;
  font-size: 15px;
  width: 25%;
  padding: 13px 10px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.775);

}

.secfive button[type=submit]{
  border: none; 
  color: rgba(255, 255, 255, 0.926);
  width: 10%;
  padding-top: 15px;
  padding-bottom: 13px;
  margin-left: -4.5px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  background: linear-gradient(to right,#1345e6 0%, #ed239f 100%,#1345e6 100%);
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.775);
}

.secfive button[type=submit]:hover{
  background: linear-gradient(to left,#1345e6 0%, #ed239f 100%,#1345e6 100%);

}


.secontact{
  padding-bottom: 10%; 
  text-align: center;
}

.secsix{
  background: linear-gradient(to top , #c738d8 0%, #2e125e 100%,#c738d8 90%);
  width: 35%;
  padding: 20px 15px;
  padding-top: 30px;
  border-radius: 10px;
  margin-left: 30rem;
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.775);

}

.secontact h2{
  font-size: 35px;
  margin-top: 55px;
  margin-bottom: 50px;
  color: #081158;

}

.secontact input[type=text] ,select,textarea, .bottsend{
  font-family: inherit;
  font-size: 15px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
  margin-bottom: 15px;
  background: transparent;
  color: ivory;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.263);
  border-radius: 5px;
  
}

.bottsend{
  background: #081158;;
  cursor: pointer;
  color: #FBB244;
}

.secsix option{
  color: rgb(118, 82, 82);
}

.secfinsh{
  text-align: center;
  padding-bottom: 8%;
  background: #021017;

}


.secseven{
  margin-top: 50px;
  
}

.secseven h2{
  font-size: 25px;
  font-weight: 600px;
  color: rgba(255, 255, 255, 0.895);
  
  
  
}

.secseven img{
  position: absolute;
  left: 41rem;
  width: 2.7%;
}

.lastdiv{
  margin-top: 6rem;
  margin-left: 33rem;
}


.lastdiv table{
  margin-top: 40px;
}


.lastdiv a{
  text-decoration: none;
  margin-right: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.895);
}


.social{
  margin-left: 5rem;
}

.social a{
  font-size: 20px;
  width: 100%;
}

.desig{
  margin-top: 35px;
  margin-right: 15px;
}

.desig p{
  color: rgba(255, 255, 255, 0.895);
  font-size: 17px;
}

.desig p span{
  color: #fd4d40;
}


.imgcv{
  margin-top: 50px;
  text-align: center;
}

.imgcv img{
  width: 38%;
  box-shadow: 2px 8px 15px 3px rgba(0, 0, 0, 0.663);
}




















@media screen and (max-width: 575px) {

  

  .openBtn{
    position: fixed;
    top: 0;
    left: 195px;
    margin-top: 6px;
    background-color: var(--bgcolor-1);
    font-size: 25px;
    
  }

  .first{
    position: fixed;
    top: 0;
    left: 23px;
    right: 0;
    height: 82px;
    margin-left: -5px;
    margin-top: 10px;
    font-family: adobe-clean,Helvetica,sans-serif;
    
  }

  .first h2{
    font-weight: 600;
    font-family: DejaVu Sans Mono, monospace;
    margin-left: 40px;
  }

  .first h2 a{
    font-weight: 600;
    font-family: DejaVu Sans Mono, monospace;
  }

  .first img{
    margin-top: 5px;
    width: 100%;
  }

  
  .social-icons{
    display: none;
  }

  
  .navbar{
    position: fixed;
    display: none;
    text-align: center;
    top: 0;
    left: -130px;
    width: 100%;
    height: 100%;
    padding-top: 0;
    background: rgba(0, 0, 0, 0.873);
    border-bottom: 1px solid var(--bgcolor-1);
    border-radius: 0;
    z-index: 100;
    text-align: center;
    
   
  }

  .navbar a{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 50px;
    color: floralwhite;
    border-radius: 15px;
  }

  .navbar .dropdown {
    width: 100%;
    margin-top: 50px;
    color: rgb(0,0,0);
    border-radius: 15px;
  }

  .dropdown a{
    color: rgb(0,0,0);
  }

  .dropdown .dropbtn{
    color: floralwhite;
    
  }

  

  .navbar .contact{
    width: 100%;
    
  }



  .imglogo img{
    position: absolute;
    width: 45%;
    float: right;
  }
  

  .sectwo{
    padding-bottom: 1200px ;
    

  }

  .vone{
    width: 90%;
    margin-left: 20px;
    margin-top: 150px;
  }

  .icoone{
    margin-left: 100px;
  }

  .icoonee{
    margin-left: 100px;
  }

  .icooneee{
    margin-left: 100px;
  }

  .vtwo{
    width: 90%;
    margin-left: 20px;
    margin-top: 100px;
  }

  .vthree{
    width: 90%;
    margin-left: 20px;
    margin-top: 100px;
    
  }

  
  .info {
    margin-left: 9px;
    margin-top: 200px;

  }

  .infosp{
    width: 48%;
    
  }

  .infosp span{
    font-size: 12px;
    font-weight: bold;
    
    
  }

  .info h2{
    margin-top: 5px;
    font-size: 43px;
    color: #081158;
  }

  .info h2 span{
    margin-top: 5px;
    font-size: 43px;
    color: #081158;
  }

  .info .social-iconstwo {
    display: block;
    margin-top: 30px;
  }

  .info .social-iconstwo a {
    color: black;
    margin-right: 30px;
    
  }

  .infobott{
    padding: 15px 50px;
  }

  .infobott a{
    font-size: 15px;
  }


  #menu{
    display: block;
  }


  .closeebtn {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    margin-bottom: 30px;
    font-size: 40px;
    cursor: pointer;
    color: white;
  }
  
  .closeebtn:hover {
    color: #ccc;
  }


  
  .aboutus{
    position: absolute;
    width: 70%;
    margin-left: 50px;
    margin-top: 230px;
    text-align: center;
  }

  .aboutp{
    width: 45%;
    margin-left: 70px;
    padding-bottom: 5px;
  }

  .aboutp span{
    margin-right: 17px;
  }

  .secthree{
    padding-bottom: 550px;
    padding-top: 70px;
    
  }

  .aboutimg{
    top: 0;
    width:80%;
    margin-left: 40px;
    border-radius: 10px;
  }

  .secserv{
    padding-bottom: 65rem;
  }

  .secfour{
    padding-right: 47px;
  }

  .imgone{
    width: 100%;
  }


  .secfour h2{
    margin-top: 60px;
    margin-bottom: 110px;
    margin-left: 45px;
    color: #081158;
  }

  .imgtext{
    margin-top: 20px;
    margin-left: 53px;
    width: 70%;
  }

  .secfive h2{
    font-size: 30px;
  }

  .secfive p{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.926);
  }

  .secfive input[type=text]{
    width: 100%;
    border-radius: 0;
    
  
  }

  .secfive button[type=submit]{
    width: 100%;
    border-radius: 0;
    margin-left: 0;
  }
  .secsix{
    margin-left: 0;
    width: 100%;
  
  }

  .secontact h2{
    font-size: 25px;
  }

  .secseven h2{
    margin-left: 20px;
    padding-top: 4px;
  }

  .secseven img{
    left: 7rem;
    width: 11.5%;
    
  }

  .lastdiv{
    margin-left: 20px;
    
   
  }

  .lastdiv a{
    font-size: 15px;
    margin-right: 25px;
  }

  .imgcv img{
    width: 90%;
    height: 100%;
  }

}